<h1>Answer: <%=params[:answer]%></h1>
<%random = params[:letters].gsub(" ", "").chars()%>
<table>
  <tr>
    <%random.each do |letter|%>
      <td>
        <div class = "letters">
          <%=letter%>
        </div>
      </td>
    <%end%>
  </tr>
</table>

<% if @exists && @uses_letters %>
  <h3>Congratulations! <%=params[:answer]%> is a valid word!</h3>

<% elsif @uses_letters == false%>
  <h3>Sorry, but <%=params[:answer]%> can't be built out of <%= params[:letters].gsub(" ", ", ") %></h3>
<% else %>
  <h3> Sorry, but <%=params[:answer]%> isn't an english word </h3>
<% end %>

<%= link_to "Play again", new_path %>
